<div>
  <h3>CheckList Builder</h3>
  <div class="col-lg-4">
    <mat-tab-group [(selectedIndex)]="tabIndex" (selectedTabChange)="tabChanged($event)">
      <mat-tab label="Question Type">
        <!-- <app-create-question></app-create-question> -->
        <div>

          <div class="col-lg-6 btn-group-vertical">
            <button (click)="changeTab(8)" type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span> Paragraph Text
            </button>
            <button (click)="changeTab(3)" type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span> Radio Button
            </button>
            <button (click)="changeTab(6)" type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span> File Attach
            </button>
            <button (click)="changeTab(2)" type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span> Single Line Text
            </button>

          </div>
          <div class="col-lg-6 btn-group-vertical">
            <button (click)="changeTab(1)" type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span> Checkbox
            </button>
            <button (click)="changeTab(4)" type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span> Dropdown
            </button>
            <button (click)="changeTab(5)" type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span> Calandar
            </button>
            <button (click)="changeTab(7)" type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span> Number
            </button>
            <button (click)="changeTab(9)" type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span> Terms and Acknowledge
            </button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Settings">
        <!-- <app-question-settings></app-question-settings> -->
        <div class="questionSettings">
          <form name="questionForm" #f="ngForm" (ngSubmit)="createQuestion(questionForm)">
            <div>
              <label for="textarea">Question</label>
              <input name="questionText" [(ngModel)]="question.questionText" placeholder="Type your Question"
                type="text" class="form-control" id="text">
            </div>
            <div>
              <label for="dropdown">Response Type</label>
              <select name="selectedQuestionType" [(ngModel)]="selectedQues" class="form-control">
                <option value="8">Paragraph Text</option>
                <option value="3">Radio</option>
                <option value="6">File Attach</option>
                <option value="2">Single Line Text</option>
                <option value="1">Checkbox</option>
                <option value="4">Dropdown</option>
                <option value="5">Calandar</option>
                <option value="7">Number</option>
                <option value="9">Terms and Acknowledge</option>
              </select>
            </div>
            <div>
              <div>
                Response Type
              </div>
              <div class="row" *ngFor="let c of question.controls;let i=index">
                <div class="col-lg-10">
                  <input *ngIf="c.controlType == 1" type="checkbox">
                  <input *ngIf="c.controlType == 2" class="form-control" type="textbox">
                  <input *ngIf="c.controlType == 3" type="radio">
                  <select class="form-control" *ngIf="c.controlType == 4">
                    <option value="item.value" *ngFor="let item of c.items">{{item.text}}</option>
                  </select>
                  <!-- <input *ngIf="c.controlType == 5" type="text" value="" class="form-control" type="text"> -->
                  <div *ngIf="c.controlType == 5" class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
                      #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                  </div>
                  <input *ngIf="c.controlType == 6" type="text" value="" class="form-control" type="file">
                  <input *ngIf="c.controlType == 7" type="text" value="" class="form-control" type="number">
                  <textarea *ngIf="c.controlType == 8" value="" class="form-control"></textarea>
                  <div *ngIf="c.controlType == 9">
                    <input type="text" value="" class="form-control" type="file">
                    <ul>
                      <li>Please upload only the standard file formats.</li>
                      <li>Large file will take more time to upload.</li>
                      <li>Maximum file size is allowed 6mb.</li>
                    </ul>
                    <input type="checkbox"> I Agree
                  </div>
                  <input name="controlLabel" [(ngModel)]="question.controls[i].label" name="cLabel{{i}}"
                    *ngIf="c.controlType == 1 || c.controlType == 3 || c.controlType == 4" type="text" value=""
                    class="form-control" placeholder="Label/Item">
                </div>
                <div class="col-lg-2">
                  <button type="button" (click)="copyControl(c)" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                  <button type="button" (click)="deleteControl(i)" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
                </div>
              </div>
            </div>
            <div class="checkbox">
              <label><input name="isRequired" [(ngModel)]="question.isRequired" type="checkbox"> Required</label>
            </div>

            <button type="submit" class="btn btn-default">Create</button>
          </form>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="col-lg-8">
    <app-question-list></app-question-list>
  </div>
</div>
