<div>
  <h3>CheckList Builder</h3>
  <div class="col-lg-4">
    <mat-tab-group [(selectedIndex)]="selected.value" (selectedTabChange)="tabChanged($event)">
      <mat-tab label="Question Type">
        <!-- <app-create-question></app-create-question> -->
        <div >

            <div class="col-lg-6 btn-group-vertical">
              <button (click)="changeTab(1)" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Paragraph Text
              </button>
              <button (click)="changeTab(2)" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Radio Button
              </button>
              <button (click)="changeTab(3)" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> File Attach
              </button>
              <button (click)="changeTab(4)" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Single Line Text
              </button>

            </div>
            <div class="col-lg-6 btn-group-vertical">
              <button (click)="changeTab(5)" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Checkbox
              </button>
              <button (click)="changeTab(6)"  type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Dropdown
              </button>
              <button (click)="changeTab(7)"  type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Calandar
              </button>
              <button (click)="changeTab(8)"  type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Number
              </button>
              <button (click)="changeTab(9)"  type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Terms and Acknowledge
              </button>
            </div>
          </div>
      </mat-tab>
      <mat-tab label="Settings">
        <!-- <app-question-settings></app-question-settings> -->
        <div class="questionSettings">
            <form [formGroup] = "questionForm" (submit)="login(questionForm.value)" >
              <div >
                <label for="textarea">Question</label>
                <input formControlName="questionText" placeholder="Type your Question" type="text" class="form-control" id="text">
              </div>
              <div>
                  <label for="dropdown">Response Type</label>
                  <select formControlName="questionControl" [selectedIndex]="selectedQues" class="form-control">
                      <option value="1">Paragraph Text</option>
                      <option value="2">Radio</option>
                      <option value="3">File Attach</option>
                      <option value="4">Single Line Text</option>
                      <option value="5">Checkbox</option>
                      <option value="6">Dropdown</option>
                      <option value="7">Calandar</option>
                      <option value="8">Number</option>
                      <option value="9">Terms and Acknowledge</option>
                  </select>
              </div>
              <div>
              <div>
                Response Type
              </div>

              </div>
              <div class="checkbox">
                <label><input formControlName="required" type="checkbox"> Required</label>
              </div>
              <button type="submit" class="btn btn-default">Create</button>
            </form>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="col-lg-8">
    <app-question-list></app-question-list>
  </div>
</div>
