<h3>CheckList Builder</h3>

<div class="row">
    <!-- <ul class="nav nav-pills">
      <li><a href="#">Question Type</a>
        <app-create-question></app-create-question>
      </li>
      <li><a href="#">Settings</a>
        <app-question-settings></app-question-settings>
      </li>
    </ul> -->
    <div class="col-lg-4">
      <mat-tab-group>
              <mat-tab label="Question Type"> <app-create-question></app-create-question> </mat-tab>
              <mat-tab label="Settings">  <app-question-settings></app-question-settings> </mat-tab>
          </mat-tab-group>
    </div>
    <div class="col-lg-8">
      <app-question-list></app-question-list>
    </div>

</div>
