<div class="panel panel-default">
  <div class="panel-heading" style="font-size: 18px;">Questions</div>
  <div class="panel-body">
    <div class="row" *ngFor="let q of questions; let i = index"
      style="border: 1px solid gray; padding: 5px; margin-bottom: 5px;">
      <div id="i">
        <div>
          <div class="col-lg-10"></div>
          <div class="col-lg-2" style="padding-left: 25px;">
            <button type="button" (click)="shiftUp(i)" class="btn btn-xs btn-default">
              <span class="glyphicon glyphicon-arrow-up"></span>
            </button>
            <button type="button" (click)="shiftDown(i)" class="btn btn-xs btn-default">
              <span class="glyphicon glyphicon-arrow-down"></span>
            </button>
          </div>
        </div>
        <div class="form-group col-lg-4">
          <label> {{q.questionText}}<span *ngIf="q.isRequired" style="color: red">*</span></label>
          <div *ngFor="let c of q.controls">

            <input  disabled='disabled' *ngIf="c.controlType == 1" type="checkbox">
            <input  disabled='disabled' *ngIf="c.controlType == 2" class="form-control" type="textbox">
            <input  disabled='disabled' *ngIf="c.controlType == 3" type="radio">
            <select class="form-control" *ngIf="c.controlType == 4">
              <option value="item.value" *ngFor="let item of c.items">{{item.text}}</option>
            </select>
            <div  disabled='disabled' *ngIf="c.controlType == 5" class="input-group">
              <input  disabled='disabled' class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
            <input  disabled='disabled' *ngIf="c.controlType == 6" type="text" value="" class="form-control" type="file">
            <input  disabled='disabled' *ngIf="c.controlType == 7" type="text" value="" class="form-control" type="number">
            <textarea  disabled='disabled' *ngIf="c.controlType == 8" value="" class="form-control"></textarea>
            <div *ngIf="c.controlType == 9">
              <input type="text" value="" class="form-control" type="file">
              <ul>
                <li>Please upload only the standard file formats.</li>
                <li>Large file will take more time to upload.</li>
                <li>Maximum file size is allowed 6mb.</li>
              </ul>
              <input type="checkbox"> I Agree
            </div>
            {{c.label}}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10"></div>
          <div class="col-lg-2">
            <button type="button" (click)="copyQuestion(q)" class="btn btn-xs btn-default">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button type="button" (click)="deleteQuestion(i)" class="btn btn-xs btn-default">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
