<div >
  <div class="col-lg-6 btn-group-vertical">
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-search"></span> Paragraph Text
    </button>
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-search"></span> Radio Button
    </button>
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-search"></span> File Attach
    </button>
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-search"></span> Single Line Text
    </button>

  </div>
  <div class="col-lg-6 btn-group-vertical">
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-search"></span> Checkbox
    </button>
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-search"></span> Dropdown
    </button>
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-search"></span> Calandar
    </button>
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-search"></span> Number
    </button>
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-search"></span> Terms and Acknowledge
    </button>
  </div>

</div>
