<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
app Works.  </h1>
</div> -->

<div>
  <app-add-checklist-template></app-add-checklist-template>
</div>
<div>
  <app-checklist-builder></app-checklist-builder>
</div>
<div>
  <!-- <app-checklist-question-bank></app-checklist-question-bank> -->
  <!-- <app-template-question-bank></app-template-question-bank> -->
  <!-- <app-checklist-mapping></app-checklist-mapping> -->
  <!-- <app-api-poc></app-api-poc> -->
</div>
<div style="text-align: center">
<h1>Router navigation</h1>
</div>
<nav>
  <a routerLink='/apiPoc' routerLinkActive="active">API POC</a>
  <a routerLink='/checklistMapping' routerLinkActive="active">CheckList Mapping</a>
  <!-- <a routerLink='/apiPoc' routerLinkActive="active">API POC</a> -->
</nav>



<router-outlet></router-outlet>
