<div style="margin-top: 28%">
  <h1>Checklist Question Bank</h1>
</div>
<div style="width: 100%">
  <div class="col-md-8">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-warning btn-space">Attach to template</button>
    <button type="button" class="btn btn-warning btn-space">Cancel</button>
  </div>
</div>
<!-- <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field> -->

    <div>
        <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Position Column -->
          <ng-container matColumnDef="checked">
           <th mat-header-cell *matHeaderCellDef>
             <mat-checkbox  aria-label="Select All" [checked]="allSelected" [indeterminate]="indeterminate" (change)="toggleSelectAll($event)">
              </mat-checkbox>Check All
           </th>

            <td mat-cell *matCellDef="let element">
              <mat-checkbox [checked]="element.isChecked" (change)="itemChanged(element,$event)" [(ngModel)]="element.checked"></mat-checkbox>
            </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>SI.No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Questions </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Question Type </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Template Name </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container>

          <ng-container matColumnDef="worktype">
              <th mat-header-cell *matHeaderCellDef> Work Type </th>
              <td mat-cell *matCellDef="let element"> {{element.worktype}} </td>
            </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
