/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/dist/css/bootstrap.css'; */
@import '~bootstrap/dist/css/bootstrap.min.css';

.addCheckList {
  border: 1px solid;
  padding-top: 3%;
  margin: 1%;
  padding-bottom: 14%;
}

/* .mat-tab-header-pagination.mat-tab-header-pagination-disabled {
  display: none !important;
} */

.mat-tab-label {
  width: 25%;
  min-width: 0 !important;
  margin: auto;
}

.mat-tab-body-content {
  overflow: hidden !important;
}
table.mat-table {
  border-spacing: 0;
  width: 98%;
  margin-left: 1%;
}

.createButton {
  float: right;
    margin: 3%;
}

.questionSettings {
  margin-left: 3%;
}

.questionSettingsCheckBox {
  margin-top: 5%;
}

.questionStyles {
  cursor: pointer;

}
.questionStyles :hover{
  background-color: aliceblue;
}

.btn.btn-default{
  margin-top: 2%;
  margin-bottom: 2%;
}
.responseItems {
  margin-left: 6% !important;
  margin-top: -5% !important;
}
.mat-tab-label-active {
  background: orange;
  color: white;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
